body {
    font-family: sans-serif;
    background-color: white;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
                        max-width:1200px;
                        color:black;
                        font-family:sans-serif;
                        padding:20px;
                        margin:20px;
                        margin-top: 75px;
                      }